HOST=0.0.0.0
PORT=1337
APP_KEYS=IpW5eNQ8yxe5zQu8Pac8NA==,a6ff1XQlI6uO24il16yIrw==,ogzNZ+zpmlIku/jzjFF5Qg==,uTNv8uP/E65pwPROkMzHnA==
API_TOKEN_SALT=NXLE86xTldFXsii80rbeYw==
ADMIN_JWT_SECRET=zUFT/SckGi7iXbIJ4eTsjw==
TRANSFER_TOKEN_SALT=TQkijN6NXlrrnQrGIU6Suw==
# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=cook
DATABASE_USERNAME=cook
DATABASE_PASSWORD=ooaakk
DATABASE_SSL=false
JWT_SECRET=Y2Yd/2AP+RxX9tBiwgdUgA==
LINE_MSG_API_CHANNEL_ACCESS_TOKEN=y6dsMJ+arEZw+Rz9ITJ9dLLXLkUjsqmfIDSBHDiisV2YN33QLwjBON0r8Satt7FgTugMqWbCqyJKsPHO8oIHzJ+VB0KNzf9JjKQ+STKMUwIhymtR9fpP9bfOSM9Y5el9r7+TpHWrAVYQIb3fBuEr8QdB04t89/1O/w1cDnyilFU=